<h1>Listing paragrafos</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th>Conteudo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paragrafos.each do |paragrafo| %>
  <tr>
    <td><%= paragrafo.categoria %></td>
    <td><%= paragrafo.conteudo %></td>
    <td><%= link_to 'Show', paragrafo %></td>
    <td><%= link_to 'Edit', edit_paragrafo_path(paragrafo) %></td>
    <td><%= link_to 'Destroy', paragrafo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paragrafo', new_paragrafo_path %>
