<!DOCTYPE html>
<html >
<div class="wrapper">
<head>
  <title>Clibr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="logo"></div>

<div id= "container">
<div id="lateralesquerda">
  <div id="barralogo"></div>
</div>

<div id="lateraldireita">
          <div id="barrabotoes">
            <div id="facebook"></div>
            <div id="twitter"></div>
            <div id="nos"></div>
            <div id="clibr"></div>
          </div>
</div>
  <div id="conteudo">
    <div id= "topo">Ariba</div>
    <%= yield %>
</div>



</body>
</div>
</html>

